/* Navbar Custom */
.navbar-custom {
  padding: 1.4rem 7%;
  background-color: rgba(51, 33, 31, 0.95);
  border-bottom: 1px solid #ffffffe1;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: aqua !important; /* Gunakan important jika tertimpa bootstrap */
  font-style: italic;
  font-family: Verdana, sans-serif;
}

.navbar-brand span {
  color: rgba(224, 233, 233, 0.704);
}

.nav-link {
  color: white !important;
  font-size: 1.1rem;
  margin: 0 1rem;
  font-family: Verdana, sans-serif;
  position: relative;
}

.nav-link:hover {
  color: rgb(101, 100, 100) !important;
}

.nav-link::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(243, 207, 207);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-link:hover::after {
  transform: scaleX(0.5);
}
